.protitle-container img {
    border: solid 3px var(--black);
    border-radius: 7.5px;
    transition: 0.1s ease;
    height: 268px;
    margin: 0 12px;
}

.protitle-container img:hover {
    border: solid 3px var(--accent1);
}