.card-container {
    width: calc(100vw - 144px);
}

.card-container a {
    text-decoration: none;
    color: var(--black);
}

.card-container img {
    border-radius: 5px;
    height: 89px;
    margin: 0 8px;
}

.title-bar {
    padding: 6px;
    display: flex;
    background-color: var(--white);
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 8px 0;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.title-bar__info {
    margin-left: 8px;
}

.title-bar i {
    position: absolute;
    top: 38.5px;
    right: 16px;
    font-size: var(--h4-size);
}

/* Media Queries */
@media screen and (max-width: 660px) {
    .card-container {
        width: calc(100vw - 96px);
    }
    
    .card-container img {
        height: 85px;
    }

    .title-bar__info h3 {
        font-size: calc(var(--h3-size) * .9);
    }
}

@media screen and (max-width: 560px) {
    .card-container {
        width: calc(100vw - 48px);
    }
    
    .card-container img {
        height: 80px;
    }
    
    .title-bar {
        padding: 5px;
    }
    
    .title-bar__info {
        margin-left: 5px;
        margin-right: 24px;
    }

    .title-bar i {
        right: 12px;
    }

    .title-bar__info h3 {
        font-size: calc(var(--h3-size) * .8);
    }
}

@media screen and (max-width: 480px) {
    .card-container {
        width: calc(100vw - 24px);
    }
    
    .card-container img {
        height: 75px;
        margin: 0 6px;
    }
    
    .title-bar {
        padding: 4px;
    }
    
    .title-bar__info {
        margin-left: 4px;
        margin-right: 20px;
    }
    
    .title-bar i {
        right: 8px;
    }

    .title-bar__info h3 {
        font-size: calc(var(--h3-size) * .75);
    }
}