.home {
    padding: 84px 0;
}

.title-filter {
    padding: 16px 0;
}

.title-filter h2 {
    margin-left: 56px;
}

.title-filter > div {
    overflow-y: scroll;
}

.title-feature {
    display: flex;
    justify-content: center;
}

.title-feature img {
    width: calc(100vw - 84px);
    border-radius: 10px;
}