.landing-container {
    margin: 80px 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-container div {
    margin: 0 40px;
}

.landing-container img {
    max-height: calc(100vh - 64px);
}

.landing-container h1 {
    margin-bottom: 16px;
}