.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-image {
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    width: 50vw;
    margin-left: 50vw;
    background-image: url('/WL-login-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-form-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form form {
    width: 280px;
    margin-right: 50vw;
    margin-bottom: 171px;
}

.login-form h3 {
    margin-bottom: 6px;
}

.login-form h5 {
    margin-bottom: 5px;
}

.login-form input {
    color: var(--black);
    margin-bottom: 20px;
    width: 100%;
    font-size: var(--p-size);
    padding: 8px;
    border-radius: 5px;
    border: none;
    border: 2px solid var(--gray);
    overflow: visible;
    box-sizing: border-box;
}

.login-form button {
    margin-bottom: 24px;
    padding: 7px 14px;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--accent1);
    font-size: var(--p-size);
    font-weight: var(--h4-weight);
    transition: 0.3s ease;
    border: none;
    display: block;
    cursor: pointer;
    width: 240px;
}

.login-form button:hover {
    color: var(--white);
    background-color: var(--accent1-dark);
}

.login-form-header {
    margin-left: 0;
    margin-bottom: 32px;
    width: 280px;
}

.login-form-header h5 {
    color: var(--gray-dark);
}

.login-form-footer {
    position: fixed;
    padding: 32px 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: var(--white);
    border-top: 1px solid var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form-footer a {
    text-decoration: none;
    color: var(--accent1);
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .login-image {
        display: none;
    }
    
    .login-form form {
        margin-right: 0;
    }
    
    .login-form-header {
        margin-right: 0;
        margin-bottom: 32px;
        width: 280px;
    }
    
    .login-form-footer {
        position: fixed;
        width: 100%;
    }
}