.profile {
    margin-top: 132px;
    color: var(--black);
}

.profile-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.prof-info {
    margin-top: 24px;
    display: flex;
}

.prof-info p {
    padding-top: 12px;
}

.prof-info h4 {
    padding-top: 8px;
}

.prof-info a, .profile-titles a {
    display: block;
    text-decoration: none;
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    color: var(--gray-dark);
    transition: 0.3s ease;
}

.prof-info a {
    padding-top: 11px;
}

.profile-titles a {
    display: inline-block;
}

.profile-titles i {
    padding: 0 8px;
}

.prof-info a:hover {
    color: var(--black);
}

.profile-titles a:hover {
    color: var(--black);
}

.prof-info__left {
    padding-right: 36px;
}

.prof-info__right a:last-child {
    color: var(--secondary);
    margin-top: 33px;
}

.prof-info__right a:last-child:hover {
    color: var(--secondary-dark);
}

.prof-info__right {
    padding-left: 36px;
}

.profile-titles {
    margin: 72px 0;
    text-align: center;
}

.profile-titles h3 {
    margin: 8px 0;
}

.profile-titles__list {
    display: flex;
    margin: 24px 0;
}

/* Media Queries */
@media screen and (max-width: 560px) {
    .prof-info__left {
        padding-right: 24px;
    }

    .prof-info__right {
        padding-left: 24px;
    }
}

@media screen and (max-width: 480px) {
    .prof-info__left {
        padding-right: 20px;
    }

    .prof-info__right {
        padding-left: 20px;
    }

    .profile-titles__list {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 360px) {
    .prof-info {
        flex-direction: column;
    }

    .prof-info__left {
        padding-right: 0;
    }

    .prof-info__right {
        padding-left: 0;
    }

    .prof-info__right a:last-child {
        margin-top: 12px;
    }

    .profile-titles__list {
        display: flex;
        flex-direction: column;
    }
}