.profile {
    margin-top: 132px;
    color: var(--white);
}

.profile-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.prof-info {
    margin-top: 16px;
    display: flex;
}

.prof-info p {
    padding-top: 9px;
}

.prof-info h4 {
    padding-top: 8px;
}

.prof-info a {
    display: block;
    text-decoration: none;
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    color: var(--white);
    margin: 12px 0;
    transition: 0.3s ease;
}

.prof-info a:hover {
    color: var(--gray-dark);
}

.prof-info__left {
    text-align: right;
    padding: 0 8px;
}

.prof-info__left a:last-child {
    color: var(--secondary);
    margin: 24px 0;
}

.prof-info__left a:last-child:hover {
    color: var(--secondary-light);
}

.prof-info__right {
    padding: 0 8px;
}

.profile-titles {
    margin: 24px 0;
    text-align: center;
}

.profile-titles h3 {
    margin: 8px 0;
}

.profile-titles__list {
    display: flex;
    margin: 24px 0;
}