.title-container {
    margin-top: 60px;
}

.title-coverImage {
    position: absolute;
    top: 60px;
    width: 100vw;
    height: 560px;
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    z-index: -1;
}

.title-coverImage img:first-child {
    width: 100%;
    position: absolute;
    height: 100%;
}

.title-coverImage img:last-child {
    height: 100%;
    position: absolute;
    z-index: -2;
}

.title-posterImage {
    position: absolute;
    top: 148px;
    left: 72px;
}

.title-info {
    margin-top: 220px;
    margin-left: 302px;
}

.title-info__header {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-actions {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.title-info__header h2 {
    margin-right: 48px;
    font-weight: 500;
}

.title-info__header > h2 {
    width: 45vw;
}

.title-info__header i {
    font-size: 20px;
    color: var(--accent2);
}

.title-info__header button i {
    color: var(--accent1);
    font-size: 24px;
    transition: 0.3s ease;
}

.title-info button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.title-info__header button i:hover {
    color: var(--accent1-dark);
}

.title-info__sub {
    margin-top: 32px;
    font-weight: 500;
    color: var(--gray-dark);
}

.title-info__stats {
    display: flex;
    margin-bottom: 16px;
}

.title-info__stats p {
    margin-right: 32px;
}

.title-content {
    margin: 112px 72px;
    color: var(--white);
}

.title-content p {
    margin: 16px 0;
}

.underlay {
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -3;
}