.navbar {
    position: fixed;
    width: calc(100vw - 72px);
    padding: 0 36px;
    background-color: var(--white);
    border-bottom: 1px solid var(--gray);
    height: 59px;
    align-items: center;
}

.right-nav {
    float: right;
}

.navbar img {
    margin: 10px 0;
    height: 40px;
}

.navbar a {
    margin: 0 18px;
    text-decoration: none;
    color: var(--accent1);
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    line-height: 60px;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: var(--accent1-dark);
}

.right-nav .signup-button {
    padding: 7px 14px;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--accent1);
}

.right-nav .signup-button:hover {
    color: var(--white);
    background-color: var(--accent1-dark);
}